
@model eMNY.Client.Models.CustomerViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";


  ViewData["Title"] = "Login";
}
  
<div class="container">
  @using (Html.BeginForm("Login", "Login"))
  {
    <h2 class="signin">Please sign in</h2>
    <div class="row justify-content-center align-items-center" style="height: 100vh">
      <div class="col-4">
        <div class="card">
          <div class="form-group">
            @Html.LabelFor(u => u.UserName, "Enter your username: ")
            @Html.TextBoxFor(u => u.UserName)
            @Html.ValidationMessageFor(u => u.UserName)
          </div>
          <div class="form-group">
            @Html.LabelFor(u => u.Password, "Enter your Password: ")
            @Html.TextBoxFor(u => u.Password)
            @Html.ValidationMessageFor(u => u.Password)
          </div>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  }
</div>
