@model eMNY.Client.Models.CustomerViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["Title"] = "Register";
}


<div class="text-center">
  <h1 class="display-4">Login</h1>
  @using (Html.BeginForm("Register", "Login"))
  {
    @Html.LabelFor(u => u.Name.First, "Enter your FirstName: ")
    @Html.TextBoxFor(u => u.Name.First)
    @Html.ValidationMessageFor(u => u.Name)
    <br />
    @Html.LabelFor(u => u.Name.Last, "Enter your LastName: ")
    @Html.TextBoxFor(u => u.Name.Last)
    @Html.ValidationMessageFor(u => u.Name)
    <br />

    @Html.LabelFor(u => u.UserName, "Enter your new username: ")
    @Html.TextBoxFor(u => u.UserName)
    @Html.ValidationMessageFor(u => u.UserName)
    <br />

    @Html.LabelFor(u => u.Password, "Enter your Password: ")
    @Html.TextBoxFor(u => u.Password)
    @Html.ValidationMessageFor(u => u.Password)
    <br />

    @Html.LabelFor(u => u.RePassword, "Re-Enter your Password: ")
    @Html.TextBoxFor(u => u.RePassword)
    @Html.ValidationMessageFor(u => u.RePassword)
    <br />

    @Html.LabelFor(u => u.RePassword, "Re-Enter your Password: ")
    @Html.TextBoxFor(u => u.RePassword)
    @Html.ValidationMessageFor(u => u.RePassword)
    <br />

    @Html.LabelFor(u => u.Email, "Enter your Email: ")
    @Html.TextBoxFor(u => u.Email)
    @Html.ValidationMessageFor(u => u.Email)
    <br />


    <button type="submit">Submit</button>
  }
</div>

